@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    font-size: 62.5%;
}
button {
    border-radius: .5rem;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    background: var(--blue-dark);
    height: 5rem;
}
h2 {
    margin: 0;
    font-family:'Merriweather', serif; 
}
button, input, textarea {
    border: 0;
    border-radius: .6rem;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
  }
a {
    font-size: 2rem;
    color: var(--white);
    font-family:'Lato', sans-serif;
    line-height: 2.4rem;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem;
      background: var(--purple);
   
}

.container .text h2 {
    font-size: 3.6rem;  
}
.container .text p {
    font-size: 1.9rem;
    font-family:'Lato', sans-serif; 
    margin-top: 1.75rem;
    margin-bottom: 4.5rem;
    line-height: 4.7rem;
}
.container .text button {
    width: 15.5rem;
}

.container-main {
    padding:15rem 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background: var(--background);
}
.card {
    width: 34rem;
    height: 42.3rem;
    margin-bottom: 6.8rem;           
    background: var(--white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.card-color {
    height: 50%;
}
#orange {
    background-color: var(--orange);
}
#blue {
    background-color: var(--blue-baby);
}
#purple {
    background-color: var(--purple-dark);
}
#green {
    background-color: var(--green)
}
#yellow {
    background-color: var(--yellow);
}
#bluedark {
    background-color: var(--blue-dark);
}
.card-text h2 {
    margin-top: 2.1rem;
    font-size: 2.4rem;
    color: var(--black);
}
.card-text p {
    margin-top: 2.9rem;
    font-family:'Lato', sans-serif; 
    font-size: 1.8rem;
    color: var(--grey);
}

 .card-text {
   padding: 3rem;
}
footer {
    background: var(--purple);
    padding: 8rem 0;
}

.container-contato  {
    display: flex;
    align-items: center;
    justify-content: center; 
}
.container-contato form {
    display: flex;
    flex-direction: column;  
}
.container-contato form h2 {
    font-size: 3.2rem;
    text-align: center;
    color: var(--black);
    margin-bottom: 6rem ;
}
.container-contato input, textarea {
    width:47rem ;
    height: 6.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    padding: 1.5rem;
}
::placeholder {
    font-size: 1.8rem;
    color: var(--grey);
    font-family:'Lato', sans-serif;
}
textarea {
    height: 16.5rem;
    resize: none;
    margin-bottom: 1.5rem;
}

.container-contato button:hover {
    background: var(--purple);
    border: .1rem solid var(--blue-dark);
}
input:focus, textarea:focus {
    border: .1rem solid var(--blue-dark);
}


@media (max-width: 900px) {
    .container, .container-main{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }
    .container .text p {
        line-height: 3.2rem;
    }
    .container .image img {
        width: 100%;
        margin-top: 11.4rem;
    }
    .container-contato input, textarea {
        width:40rem ;
        height: 6.5rem;
    } 
    .container-contato textarea {
        height: 15rem;
    }
}