@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    font-size: 62.5%;
}
header {
    
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem;
    background: var(--purple);
   
}

.container .text h2 {
    font-size: 3.6rem;
    font-family:'Merriweather', serif; ;
   
}
.container .text p {
    font-size: 1.9rem;
    font-family:'Lato', sans-serif; 
    margin-top: 1.75rem;
    margin-bottom: 4.5rem;
}
.container .text button {
    background: var(--blue);
    border: 0;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    width: 15.5rem;
    height: 5rem;
    
}

.container .text button a{
    font-size: 2rem;
    color: var(--white);
}
.container-main {
    padding:15rem 10rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
.card {
   
    width: 34rem;
    height: 42.3rem;
    margin-bottom: 6.8rem;

}

.card > .card-color-orange {
    height: 50%;
    background-color: var(--orange);
}
.card > .card-color-blue {
    height: 50%;
    background-color: var(--blue-baby);
}
.card > .card-color-purple {
    height: 50%;
    background-color: var(--purple-dark);
}
.card > .card-color-green {
    height: 50%;
    background-color: var(--green);
}
.card > .card-color-yellow {
    height: 50%;
    background-color: var(--yellow);
}
.card > .card-color-bluedark {
    height: 50%;
    background-color: var(--blue-dark);
}
.card-text {
    height: 50%;  
}

.card-text h2 {
    font-size: 2.4rem;

}
.card-text p {
    font-size: 1.8rem;
}

.card > .card-text {
   padding: 3rem;
}

@media (max-width: 1000px) {
    .container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }
    .container .image img {
        width: 100%;
        margin-top: 11.4rem;
    }
}